* {
  box-sizing: border-box;
}

body {

  height: 1000%;
  width: 100vw;
  background-image: url("https://besthqwallpapers.com/Uploads/23-2-2021/157051/thumb2-group-of-users-neon-icon-4k-blue-background-neon-symbols-group-of-users.jpg");


}

.App {
  width: 100wh;
  height: auto;
  display: flex;
  gap: 80px;
  text-align: center;


  justify-content: center;
  align-items: center;

}

.Form_article {
  position: absolute;
  top: 95px;
  z-index: 2;
  margin-left: 4%;
  border: 2px rgb(15, 15, 15) solid;
  margin-top: 0px;
  height: 490x;
  width: 18%;
  overflow: hidden;
  border-radius: 15px;
}

.Form_form {
  color: white;
  background-color: rgb(13, 13, 14);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: 1px black solid;
  height: 450px;


}

.app_div {

  margin-top: 200px;
  margin-left: fit;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 95%;
}

.list_span {
  color: aliceblue;
  background: teal;
  border: 5px rgb(10, 10, 10) solid;
  width: 30%;

  height: 200px;
  border-radius: 20px;
  opacity: 92%;
  overflow: scroll;
}

.list_ul {
  padding: 15px;
  list-style: none;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app_button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: 2;
  position: absolute;
  left: 42%;
  top: 25px;
  width: 20%;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(10, 12, 12);
  color: azure;
  backdrop-filter: blury;

}

img {
  position: fixed;
  z-index: -1;
  width: 100%;
  opacity: 85%;
}

.update {

  position: relative;
  top: 55px;
  left: 35px;
  width: 35px;
  color: teal;

}

.titulaso {
  font-size: larger;
  margin: 0;
  background-color: aliceblue;
}

input {
  width: 55%;
  margin: auto auto;
}

strong {
  color: black;
  font-size: larger;
  padding-bottom: 2px;
}

.update {
  position: relative;
  top: -15px;
  color: black;
  width: 15%;
  background-color: blue;
  border-radius: 5px;
}

.btn_deltes {
  position: relative;
  top: -15px;
  width: 15%;
  background-color: rgb(162, 39, 131);
  border-radius: 5px;
}

.btn_deltes:hover,
.update:hover {
  background-color: antiquewhite;


}

@media only screen and (max-width:800px) {
  .app_div {

    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 95%;
  }


  
.list_span {
  color: aliceblue;
  background: teal;
  border: 5px rgb(10, 10, 10) solid;
  width: 310px;

  height: 200px;
  border-radius: 20px;
  opacity: 92%;
  overflow: scroll;
}

.app_button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  z-index: 2;
  position: absolute;
  left: 38%;
  top: 25px;
  width:30%;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(10, 12, 12);
  color: azure;
  backdrop-filter: blury;

}


.Form_article {
  position: absolute;
  top: 95px;
  z-index: 2;
  margin-left: 4%;
  border: 2px rgb(15, 15, 15) solid;
  margin-top: 0px;
  height: 490x;
  width: 200px;
  overflow: hidden;
  border-radius: 15px;
}



}